{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "WEBSITE_NODE_DEFAULT_VERSION": "10.14.1",
    "PRIVATE_KEY": "25B3F54217340F7061D02676C4B928ADB4395EB70A2A52D2A11E2F4AE011B03E",
    "NETWORK_TYPE": "MIJIN_TEST",
    "ENDPOINT": "http://dragon.48gh23s.xyz:3000",
    "GENERATION_HASH": "5ABBD9F7894EE7E5D4C3CDA934245396AEFCD1CB0426F265AC81F4F3450AB6DD",
    "MOSAIC_ID": "3692FF952D89DD45",
    "AMOUNT": "10000000000",
    "FEE": "0"
  }
}
